@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;900&display=swap');


*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  text-decoration: none;
}

:root{


  --primary-bg-color:rgba(255, 87, 8, 0.851);
  --secondary-bg-color:rgba(255, 135, 79, 0.851);
  --ternary-bg-color:rgba(255, 181, 147, 0.851);
  --bg-color:hsl(0,0%,100%);
  --white-color:rgb(255, 255, 255);
  --color-primary:black;
  --color-grey:hsl(0, 0%, 91%);

  --fw-bold:bold;
  --fw-normal:500;
  --fw-light:100;

  --bigFontSize:3rem;
  --h1FontSize:2rem;
  --h2FontSize:1.25rem;
  --h3FontSize:1rem;
  --NormalFontsize:0.938rem;
  --smallFontSize:0.813rem;
  --smallestFontSize:0.75rem;
  --border-radius:3rem;
}

.form{
    min-height: 30vh;
}
.form .row {
    display: flex;
    gap: 5px 30px;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
}
.form .row .input{
    background-color: var(--ternary-bg-color);
    border-radius: var(--border-radius);
    display: grid;
    position: relative;
    padding: 1px 10px;
}

.form .row .input i{
    position: absolute;
    right: 25px;
    color: black;
}
.form-control{
    background-color: transparent;
    border-radius: var(--border-radius);
    border: none;
}
.form-control:focus{
    box-shadow: none;
    background-color: transparent;
}
.form .row .input:focus{
    box-shadow: none;
    border: 1px solid var(--primary-bg-color);
}
.form .row .input:nth-child(4){
    background-color: var(--primary-bg-color);
    color: var(--white-color);
    border-radius: var(--border-radius);
    border: 1px solid none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form .row .input:nth-child(4) .button{
    color:var(--white-color);
}
.form .row button:focus{
    box-shadow: none;
    border: none;
}
.form .row input:nth-child(4):hover{
    background-color: var(--white-color);
    color:var(--primary-bg-color);
    border: 1px solid var(--primary-bg-color);
}
.form  h1{
    font-size: var(--h1FontSize);
}
.form .orange{
    color:var(--primary-bg-color);
}
.form .row .input{
    display: flex;
}
