@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;900&display=swap');


*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  text-decoration: none;
}

:root{


  --primary-bg-color:rgb(255, 53, 8) !important;
  --secondary-bg-color:rgba(255, 135, 79, 0.851);
  --ternary-bg-color:rgba(255, 181, 147, 0.851);
  --bg-color:hsl(0,0%,100%);
  --white-color:rgb(255, 255, 255);
  --color-primary:black;
  --color-grey:hsl(0,0%,51%);

  --fw-bold:bold;
  --fw-normal:500;
  --fw-light:100;

  --bigFontSize:2.5rem;
  --h1FontSize:2rem;
  --h2FontSize:1.25rem;
  --h3FontSize:1rem;
  --NormalFontsize:0.938rem;
  --smallFontSize:0.813rem;
  --smallestFontSize:0.75rem;
  --border-radius:3rem;
}
::selection{
  background-color: var(--primary-bg-color);
  color:var(--white-color);
}
::-webkit-scrollbar{
  width: 4px !important;
  background: var(--white-color);
}
::-webkit-scrollbar-thumb{
   width: 4px !important;
   background: var(--primary-bg-color);
   border-radius: var(--border-radius);
}

body{
  background-color: var(--bg-color);
  scroll-behavior: smooth;
}

